[Unit]
Description=BridgeFog Fog Headless node
After=docker.service
Requires=docker.service
After=ipfs.service
BindsTo=ipfs.service

[Service]
Restart=always
RestartSec=10s

TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker rm -f %p
ExecStartPre=/usr/bin/docker pull bridgefog/fog-desktop
ExecStart=/usr/bin/docker run \
  --rm \
  -t \
  --name %p \
  -e IPFS_PORT_5001_TCP=tcp://172.17.42.1:5001 \
  --memory=900m \
  bridgefog/fog-desktop \
  headless-node
ExecStop=/usr/bin/docker stop -t 5 %p

[X-Fleet]
MachineOf=ipfs.service
Conflicts=%p@*.service
