[Unit]
Description=BridgeFog Fog Headless node
After=docker.service
Requires=docker.service
After=ipfs.service
Requires=ipfs.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm -f %p
ExecStartPre=/usr/bin/docker pull bridgefog/fog-desktop
ExecStart=/usr/bin/docker run \
  --rm \
  --name %p \
  --link ipfs:ipfs \
  bridgefog/fog-desktop \
  headless-node
ExecStop=/usr/bin/docker stop -t 5 %p

[X-Fleet]
MachineOf=ipfs.service
Conflicts=%p@*.service
